<div *ngIf="hero">
    
    <h2>{{hero.name}} details!</h2>
    
    <div>
        <label>id: </label>{{hero.id}}
    </div>
    
    <div>
        <label>name: </label>
        <input [(ngModel)]="hero.name" placeholder="name" />
    </div>


    <div>
        <label>Powers List:</label> {{hero.power}}
        <div *ngFor="let bob of hero.powers">
            <input type="checkbox">{{bob}}
        </div>
    </div>

    <button (click)="editHero()">Edit</button>
    <button (click)="goBack()">Back</button>
    <br>
    {{diagnostic}}
</div>